body{
	background-image: repeating-radial-gradient(circle, red,orange 13%,yellow 20%,green 10%,blue 26%,indigo 11%,violet 69%);
}

#mainp{
	writing-mode: vertical-rl; 
	background-color: lime;
	color: purple;
}

h1 {
	color: lime;
	border-style: dashed;
	border-color: purple;
	background-color: orange;
	text-align: center;
}

#tomato{
	float: left;
	border-style: dashed;
	border-width: 10px;
	border-color: crimson;
}

#tomato:hover{
	width: 300px;
	transition: width 2s;
	transform: rotate(180deg);
}

.sublink{
	text-decoration: none;
	color: deeppink;
}

.paraii{
	height: 8cm;
	background-color: darkgreen;
	float: right;
	color: deeppink;
	padding: 10px;
}
.paraiii{
	background-color: rosybrown;
	color: yellow;
	border: none;
}
#titular{
	text-align: center;
	font-size: 4cm;
	color: teal;
	font-family: "Futura", sans-serif;
}
